{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<section class="container mt-5">
    <h2>Register</h2>
    <form method="post" action="/register">
        <div class="form-group">
            <label for="exampleInputEmail1">Full Name</label>
            <input type="text" class="form-control {% if session.errors['name'] %} is-invalid {% endif %}"
                   id="exampleInputName"
                   aria-describedby="nameHelp"
                   name="name"
                   value="{{ session.old_values['name'] ?? '' }}"
                   placeholder="Enter full name">
            <small id="nameHelp" class="form-text text-danger">{{ session.errors['name'] ?? '' }}</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email"
                   class="form-control {% if session.errors['email'] %} is-invalid {% endif %}"
                   id="exampleInputEmail1"
                   aria-describedby="emailHelp"
                   placeholder="Enter email"
                   value="{{ session.old_values['email'] ?? '' }}"
                   name="email">
            <small id="emailHelp" class="form-text text-danger">{{ session.errors['email'] ?? '' }}</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password"
                   class="form-control {% if session.errors['password'] %} is-invalid {% endif %}"
                   id="exampleInputPassword1"
                   placeholder="Password"
                   name="password">
            <small class="form-text text-danger">{{ session.errors['password'] ?? '' }}</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>

{% endblock %}
